/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 */
 html,
 body {
    height: 100%;
    width: 100%;
    margin: 0;
 }

 .header {
     padding: 20px;
    font-size: 30px;
    text-align: justify;
    background-color: rgb(144, 166, 106);
 }

 
 h3 {
    text-align: center;
 }

 p {
    width: 100%;
    max-width: 1200px;
    margin: 5;
    padding: 10;
 }

 .Article {
    background-color: rgb(162, 162, 70);
    width: auto;
    text-align: center;
    height: auto;
    padding: 0;
    border: 10px solid;
 }

 .Article:first-child {
    background-color: beige;
    width: 850px;
    height: auto;
    margin-top: 4em;
    margin-left: 0;
    padding: 20px;
    border: 10px solid;
 }

 img {
    width: 600px;
    height: 460px;
    margin: 5;
    margin-left: 10;
    border-radius: 7px solid while;
 }

 images {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-left: 5px;
    margin: 5;
 }

 footer {
    display: flex;
    border-top: rgb(244, 251, 244) 3px solid;
    margin-top: 10px;
    align-items: flex-start;
 }

 @media {
    max-width: 500px;
 }